<% provide(:title, "Contact") %>
    <h1>Contact</h1>
    <p>
       How to reach Albert Fougy:
       <p></p>
      <a href="https://www.github.com/albertfougy/"><em>Github profile</em></a>
      <p></p>
      <a href="http://albertfougy.com/"><em>Personal Web Journal</em></a>
    </p>
  </body>
</html>